*{
    margin:0;
    padding:0;
    box-sizing:border-box
   
}
.container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    font-family:"Open Sans", sans-serif;
    color:hsl(205, 79%, 22%);
    background:rgb(241, 242, 250);
}
.center{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width:100vw;
    height:50vh;
    justify-content: space-around;
}
.title{
    font-size:70px;
   font-weight:500;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size:100px;
    font-weight:200;
   font-family:sans-serif;
}
button{
    font-size:17px;
    margin:0px 10px;
    padding:1px 15px;
   border-radius:10px; 
   border:2px solid hsl(205, 73%, 9%);
   background:rgb(241, 242, 250);
    font-family: 'Poppins', sans-serif; 
}
button:hover{
    background-color:black;
    color:white;
}

@media (max-width:480px){
button{
    font-size:17px;
    margin:0px 6px;
    padding:1px 15px;
   border-radius:10px; 
   border:2px solid hsl(205, 73%, 9%);
   background:rgb(241, 242, 250);
    font-family: 'Poppins', sans-serif; 
}


}







